

body {
  margin: 50px;
  padding:0;
  font-family: sans-serif;
  background: linear-gradient(#141e30, #243b55);
  background-attachment: fixed;

}

form {
  margin:80px;
  width:85%;
  padding: 40px;
  background: rgba(0,0,0,.5);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}
h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  text-align:justify;
  color: #fff;
}

p {
  color: #fff;
  text-align: center;
  margin-bottom: 20px;
}

label {
  color: #fff;
  display: block;
  margin-bottom: 8px;
  
}

input[type="number"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  color: #fff;
}



input[type="submit"] {
  background-color: #03e9f4;
  color: #fff;
  font-size: 16px;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #fff;
  color: #03e9f4;
  box-shadow: 0 0 5px #03e9f4,0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}


nav {
  position: fixed;
  top: 5px;
  left: 0;
  right: 0;
  z-index: 9999;
  background-color: linear-gradient(#141e30, #243b55);
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  align-items:center;
  display:block;
  justify-content: space-between;
  text-align: right;
}

nav a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
  margin-right: 20px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #000;
}

nav a:last-child {
  margin-right: 0;
}

nav button {
  border: none;
  background-color: transparent;
  font-size: 1.5rem;
  cursor: pointer;
}

nav button:focus {
  outline: none;
}

nav button svg {
  width: 1.5em;
  height: 1.5em;
  fill: #555;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: flex-start;
  }

  nav a {
    margin-right: 0;
    margin-bottom: 10px;
    display: block;
  }
}
#heading{
  float: left;
  color: #fff;
  font-weight: bold;
}
